<h2>Lista produktów</h2>

<button (click)="przelaczWidocznosc()">
    {{ produktyWidoczne ? 'Ukryj produkty' : 'Pokaż produkty' }}
</button>

<table *ngIf="produktyWidoczne">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Cena</th>
      <th>Data utworzenia</th>
      <th>Liczba sztuk w koszyku</th>
      <th>Dodaj do koszyka</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of produkty" [ngClass]="{ 'promo': product.czyPromocja }">
      <td>{{ product.nazwa }}</td>
      <td>{{ product.cena }} zł</td>
      <td>{{ product.dataUtworzenia | date:'dd.MM.yyyy' }}r.</td>
      <td>{{ product.liczbaWKoszyku }}</td>
      <td>
        <button (click)="dodajDoKoszyka(product)">Dodaj do koszyka</button>
      </td>
    </tr>
  </tbody>
</table>
<hr>

<button (click)="zerujKoszyk()" class="reset-button">X</button>

<app-koszyk [sumaKoszyka]="sumaKoszyka"></app-koszyk>

